{% extends 'base.html' %}
{% block body %}
<div class="container my-3">
    <h2 class="text-center py-3"> Here is the list of students</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Name</th>
                <th scope="col">Rollno</th>
                <th scope="col">Phone no.</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records  %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{record.name}}</td>
                <td>{{record.rollno}}</td>
                <td>{{record.phone}}</td>
                <td>{{record.mailid}}</td>
                <td>
                    <form method="post" action="/delete/delete">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock body %}